
@*
For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products list";
    Layout = "~/Areas/Seller/Views/Shared/_SellerLayout.cshtml";
    var idAcc = ViewContext.HttpContext.Session.GetString("IdAcc");

}
@model List<App.Model.ProCateProItemViewModel>
@using Microsoft.AspNetCore.Http
<h1>Products List</h1>
<hr />
<table class="table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

           // @if (item.AccID == idAcc )
            //{
                <tr>
                    <td>@item.products.Name</td>
                    <td>@item.products.Description</td>
                    <td>@item.categories.NameCate</td>
                </tr>
          //  }
        }
    </tbody>
</table>
<hr />