@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="container">
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Create Account</h4>

			<form>

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input name="" class="form-control" placeholder="Full name" type="text">
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					<input name="" class="form-control" placeholder="Email address" type="email">
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<span class="material-symbols-outlined">
								calendar_month
							</span>
						</span>
					</div>
					<input name="" class="form-control" placeholder="Birthday" type="date">
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
					</div>
					<select class="custom-select" style="max-width: 120px;">
						<option selected="">+971</option>
						<option value="1">+972</option>
						<option value="2">+198</option>
						<option value="3">+701</option>
					</select>
					<input name="" class="form-control" placeholder="Phone number" type="text">
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<span class="material-symbols-outlined">
								transgender
							</span>
						</span>
					</div>
					<select class="form-control">
						<option selected="">Male</option>
						<option>Female</option>
						<option>Other</option>
					</select>
				</div> <!-- form-group end.// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input name="" class="form-control" placeholder="User name" type="text">
				</div> <!-- form-group// -->

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" placeholder="Create password" type="password">
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" placeholder="Repeat password" type="password">
				</div> <!-- form-group// -->

				<div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

					<div class="form-check form-check-inline mb-0 me-4">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
							   value="option2" />
						<label class="form-check-label" for="maleGender">Buyer</label>
					</div>

					<div class="form-check form-check-inline mb-0">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
							   value="option3" />
						<label class="form-check-label" for="otherGender">Seller</label>
					</div>

				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
				</div> <!-- form-group// -->

			</form>
		</article>
	</div> <!-- card.// -->

</div>
<!--container end.//-->

<br>
<br>
<article class="bg-secondary mb-3">
	<div class="card-body text-center">
		<h3 class="text-white mt-3">Bootstrap 4 UI KIT</h3>
		<p class="h5 text-white">
			Components and templates  <br> for Ecommerce, marketplace, booking websites
			and product landing pages
		</p>   <br>
		<p>
			<a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/">
				Bootstrap-ecommerce.com
				<i class="fa fa-window-restore "></i>
			</a>
		</p>
	</div>
	<br><br>
</article>